<md-dialog aria-label="Mango (Fruit)" ng-controller="noviItemModalCtrl">
    <md-toolbar layout-padding>
        <span translate="ROLE.EDIT">Uredi ulogu</span>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="form">
            <md-input-container class="md-block">
                <label translate="ROLE.NAME">Naziv</label>
                <input required name="naziv"
                       md-maxlength="100"
                       ng-model="item.naziv">
                <div ng-messages="form.naziv.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer(null)" translate="CANCEL"> Cancel </md-button>
        <md-button ng-click="answer(item)" class="md-primary" translate="SAVE"> Save </md-button>
    </div>
</md-dialog>