<!--https://klarsys.github.io/angular-material-icons/-->
<md-dialog aria-label="Mango (Fruit)" ng-controller="noviItemModalCtrl">
    <md-toolbar layout-padding>
        <span translate="EVENT.EDIT">Uredi događaj</span>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="form">

            <div layout-gt-xs="row">
                <md-input-container class="md-block">
                    <label TRANSLATE="EVENT.TITLE"> Naziv: </label>
                    <input type="text" name="naziv"
                           required
                           ng-model="item.naziv"/>
                    <div ng-messages="form.naziv.$error">
                        <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer(null)" translate="CANCEL"> Cancel </md-button>
        <md-button ng-click="answer(item)" class="md-primary" translate="SAVE"> Save </md-button>
    </div>
</md-dialog>