<!--https://klarsys.github.io/angular-material-icons/-->
<md-dialog aria-label="Mango (Fruit)" ng-controller="noviItemModalCtrl">
    <md-toolbar layout-padding>
        Novi komentar
    </md-toolbar>
    <md-content class="md-padding">
        <form name="form">

            <div layout-gt-xs="row">
                <md-input-container class="md-block">
                    <label TRANSLATE="Created"> Kreiran: </label>
                    <input type="text" name="kreiran"
                           required
                           ng-model="item.kreiran"/>
                    <div ng-messages="form.kreiran.$error">
                        <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label TRANSLATE="Text"> Tekst: </label>
                    <input type="text" name="tekst"
                           required
                           ng-model="item.tekst"/>
                    <div ng-messages="form.tekst.$error">
                        <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer(null)"> Cancel </md-button>
        <md-button ng-click="answer(item)" class="md-primary"> Save </md-button>
    </div>
</md-dialog>