<!--https://klarsys.github.io/angular-material-icons/-->
<md-dialog aria-label="Mango (Fruit)">
    <!--ng-controller="noviDocHomeModalCtrl">-->
    <md-toolbar layout-padding>
        <span translate="DOCUMENT.NEW">Novi dokument</span>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="form">
            <div layout-gt-xs="row">
                <md-datepicker ng-model="item.istice" md-placeholder="{{'DOCUMENT.DATE' | translate}}"></md-datepicker>
            </div>
            <div layout-gt-xs="row">

                <md-input-container class="md-block">
                    <label TRANSLATE="DOCUMENT.NAME"> Oznaka: </label>
                    <input type="text" name="oznaka"
                           required
                           ng-model="item.oznaka"/>
                    <div ng-messages="form.oznaka.$error">
                        <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label TRANSLATE="DOCUMENT.SIGNATURE"> Potpis: </label>
                    <input type="text" name="potpis"
                           required
                           ng-model="item.potpis"/>
                    <div ng-messages="form.potpis.$error">
                        <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label TRANSLATE="DOCUMENT.TEXT"> Tekst: </label>
                <input type="text" name="tekst"
                       required
                       ng-model="item.tekst"/>
                <div ng-messages="form.tekst.$error">
                    <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <md-select name="status" ng-model="item.selectedStatus" md-on-open="loadStatus()" placeholder="Status">
                    <md-option ng-value="status.href" ng-repeat="status in statusiSet">
                        {{status.nazivba}} - {{status.naziven}}
                    </md-option>
                </md-select>
                <div ng-messages="form.status.$error">
                    <div ng-message="required" TRANSLATE="VALIDATION_ERROR.REQUIRED">This is required.</div>
                </div>
            </md-input-container>

            <!--<md-button ng-click="upload(item)">Upload</md-button>-->
            <input type="file" value="Nova verzija" file-model="item.file"
                   class="btn btn-default btn-block" />
            <md-button ng-click="ocr(item)">OCR</md-button>
            <md-button ng-click="potpis(item)">Potpis?</md-button>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer(null)" translate="CANCEL"> Cancel </md-button>
        <md-button ng-click="answer(item)" class="md-primary" translate="SAVE" ng-disabled="!form.$valid"> Save </md-button>
    </div>
</md-dialog>