<div class="navbar-fixed-bottom" ng-controller="uploadtestController">
    <h2>test upload</h2>
    <!--<form method="POST" enctype="multipart/form-data" action="/upload">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td>Name:</td><td><input type="text" name="name" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>-->
    <div class="row">
        <a ng-href="/publickey" target="_blank">Public key</a>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <ul>
                <li ng-repeat="dokument in dokumenti">
                    <!--/signature/{fileName:.+}-->
                    <a ng-href="/document/{{dokument}}" target="_blank">{{dokument}}</a> <a href="javascript:void(0)" ng-click="sign(dokument)">sign</a> <a ng-href="/signature/{{dokument}}" target="_blank">signature</a> <a href="javascript:void(0)" ng-click="delete(dokument)">X</a>
                </li>
            </ul>
            <input type="file" value="Nova verzija" file-model="file" class="btn btn-default btn-block" />
            <input type="button" value="Upload" ng-click="newVersion()" />
        </div>
    </div>

</div>