<md-content layout="column" flex ng-controller="administracijaDokumentaController">
    <md-card>
        <md-toolbar class="md-table-toolbar md-default"
                    ng-hide="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <h2 flex="" translate="DOCUMENTS">Dokumenti</h2>
                <md-button class="md-icon-button">
                    <ng-md-icon icon="add" ng-click="newDialog($event)"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <ng-md-icon icon="cached" ng-click="loadStuff()"
                                style="fill: black"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!--<md-toolbar class="md-table-toolbar alternate"-->
        <!--ng-show="options.rowSelection && selected.length">-->
        <!--<div class="md-toolbar-tools">-->
        <!--<span flex="">{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>-->
        <!--<md-button class="md-icon-button">-->
        <!--<md-tooltip>Edit</md-tooltip>-->
        <!--<ng-md-icon icon="edit"-->
        <!--ng-click="dummy()"-->
        <!--style="fill: black"></ng-md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button">-->
        <!--<md-tooltip>Delete</md-tooltip>-->
        <!--<ng-md-icon icon="delete"-->
        <!--ng-click="dummy()"-->
        <!--style="fill: black"></ng-md-icon>-->
        <!--</md-button>-->
        <!--</div>-->
        <!--</md-toolbar>-->

        <md-toolbar class="md-table-toolbar alternate"
                    ng-show="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span flex="">{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                <md-button class="md-icon-button">
                    <md-tooltip><span translate="IZBOR.EDIT"> Edit</span></md-tooltip>
                    <ng-md-icon icon="edit"
                                ng-click="editDialog($event)"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-tooltip><span translate="IZBOR.DELETE"> Delete</span></md-tooltip>
                    <ng-md-icon icon="delete"
                                ng-click="deleteDokument()"
                                style="fill: black"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table
                   md-row-select="options.rowSelection"
                   multiple="{{options.multiSelect}}"
                   ng-model="selected"
                   md-progress="promise">
                <thead ng-if="!options.decapitate" md-head
                       md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column="" ><span translate="DOCUMENT.UPDATED"> Azuriran</span></th>
                    <th md-column="" > <span translate="DOCUMENT.EXPIRES">Istice</span></th>
                    <th md-column="" ><span translate="DOCUMENT.CREATED">Kreiran</span></th>
                    <th md-column="" ><span translate="DOCUMENT.NAME"> Oznaka</span></th>
                    <th md-column="" ><span translate="DOCUMENT.SIGNATURE">Potpis</span></th>
                    <th md-column="" ><span translate="DOCUMENT.SIGNED">Potpisan</span></th>
                    <th md-column=""><span translate="DOCUMENT.TEXT">Tekst</span></th>
                    <th md-column><span translate="BUTTONS">Dugmici</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    md-select="item"
                    md-on-select="logItem"
                    md-auto-select="options.autoSelect"
                    ng-repeat="item in query.data">
                    <td md-cell>{{item.azuriran}}</td>
                    <td md-cell>{{item.istice}}</td>
                    <td md-cell>{{item.kreiran}}</td>
                    <td md-cell>{{item.oznaka}}</td>
                    <td md-cell>{{item.potpis}}</td>
                    <td md-cell>{{item.potpisan}}</td>
                    <td md-cell>{{item.tekst}}</td>

                </tr>
                </tbody>
            </table>
        </md-table-container>


        <md-table-pagination md-limit="query.limit"
                             md-limit-options="limitOptions"
                             md-page="query.page"
                             md-total="{{query.totalElements}}"
                             md-page-select="options.pageSelect"
                             md-boundary-links="options.boundaryLinks"
                             md-on-paginate="logPagination"></md-table-pagination>
    </md-card>
</md-content>