<md-content ng-controller="administracijaDashboardController">
    <md-grid-list
            md-cols-xs="1" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile >
            <md-grid-tile-footer layout="row">
                <md-button class="md-icon-button" layout-align="end end">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <ng-md-icon icon="cached" ng-click="dataGet()"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <span>Memorija</span>
            </md-grid-tile-footer>
            <canvas id="doughnutMem" class="chart chart-doughnut" chart-legend="true"
                    chart-data="dataMem" chart-labels="labelsMem">
            </canvas>
        </md-grid-tile>
        <md-grid-tile md-rowspan="1" md-colspan="5" md-colspan-sm="2" md-colspan-xs="1">
            <canvas id="mail" class="chart chart-bar" chart-data="dataMail"
                    chart-labels="mailVrijeme" chart-series="mailSeries"></canvas>
            <md-grid-tile-footer layout="row">
                <md-button class="md-icon-button">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <ng-md-icon icon="cached" ng-click="dataGet()"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-tooltip>
                        Clear
                    </md-tooltip>
                    <ng-md-icon icon="clear" ng-click="clearCustomMetrics()"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <span>Mailovi</span>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile >
            <md-grid-tile-footer layout="row">
                <md-button class="md-icon-button" layout-align="end end">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <ng-md-icon icon="cached" ng-click="dataGet()"
                                style="..."></ng-md-icon>
                </md-button>
                <span>Brojač statusa</span>
            </md-grid-tile-footer>
            <canvas id="statusi" class="chart chart-pie" chart-legend="true"
                    chart-data="dataStatusi" chart-labels="labelsStatusi"
                    width="250" height="150">
            </canvas>
        </md-grid-tile>

        <md-grid-tile>
            <md-grid-tile-footer layout="row">
                <md-button class="md-icon-button" layout-align="end end">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <ng-md-icon icon="cached" ng-click="dataGet()"
                                style="..."></ng-md-icon>
                </md-button>
                <span>Trenutne konekcije</span>
            </md-grid-tile-footer>
            <canvas id="konekcije" class="chart chart-bar" chart-legend="false"
                    chart-data="dataKonekcije" chart-labels="labelsKonekcije" chart-series="seriesKonekcije"
                    width="250" height="150">
            </canvas>
        </md-grid-tile>

    </md-grid-list>
</md-content>
