<md-content layout="column" flex ng-controller="administracijaKorisnikaController">
    <md-card>
        <md-toolbar class="md-table-toolbar md-default"
                    ng-hide="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <h2 flex="">Korisnici</h2>
                <md-button class="md-icon-button">
                    <ng-md-icon icon="add" ng-click="newDialog($event)"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <ng-md-icon icon="cached" ng-click="loadStuff()"
                                style="fill: black"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate"
                    ng-show="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span flex="">{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                <md-button class="md-icon-button">
                    <md-tooltip>Edit</md-tooltip>
                    <ng-md-icon icon="edit"
                                ng-click="dummy()"
                                style="fill: black"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-tooltip>Delete</md-tooltip>
                    <ng-md-icon icon="delete"
                                ng-click="dummy()"
                                style="fill: black"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table
                   md-row-select="options.rowSelection"
                   multiple="{{options.multiSelect}}"
                   ng-model="selected"
                   md-progress="promise">
                <thead ng-if="!options.decapitate" md-head
                       md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column>Username</th>
                    <th md-column="">ime</th>
                    <th md-column="">prezime</th>
                    <th md-column="">email</th>
                    <!--<th md-column="">jmbg</th>-->
                    <th md-column="">enabled</th>
                    <!--<th md-column="">deleted</th>-->
                    <th md-column="">uloge</th>
                    <th md-column>Dugmici</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    md-select="item"
                    md-on-select="logItem"
                    md-auto-select="options.autoSelect"
                    ng-repeat="item in query.data">
                    <td md-cell>{{item.username}}</td>
                    <td md-cell>{{item.ime}}</td>
                    <td md-cell>{{item.prezime}}</td>
                    <td md-cell>{{item.email}}</td>
                    <!--<td md-cell>{{item.jmbg}}</td>-->
                    <td md-cell>{{item.enabled}}</td>
                    <!--<td md-cell>{{item.deleted}}</td>-->
                    <td md-cell>{{displaySet(item.ulogaSet)}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button">
                            <md-tooltip>Open</md-tooltip>
                            <ng-md-icon icon="open_in_browser"
                                        ng-click="detalji(item.username)"
                                        style="fill: black">
                            </ng-md-icon>
                        </md-button>
                        <!--<md-button class="md-icon-button">-->
                            <!--<md-tooltip>Edit</md-tooltip>-->
                            <!--<ng-md-icon icon="edit"-->
                                        <!--ng-click="dummy()"-->
                                        <!--style="fill: black"></ng-md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button class="md-icon-button">-->
                            <!--<md-tooltip>Reset password</md-tooltip>-->
                            <!--<ng-md-icon icon="mail"-->
                                        <!--ng-click="dummy()"-->
                                        <!--style="fill: black">-->
                            <!--</ng-md-icon>-->
                        <!--</md-button>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>


        <md-table-pagination md-limit="query.limit"
                             md-limit-options="limitOptions"
                             md-page="query.page"
                             md-total="{{query.totalElements}}"
                             md-page-select="options.pageSelect"
                             md-boundary-links="options.boundaryLinks"
                             md-on-paginate="logPagination"></md-table-pagination>
    </md-card>
</md-content>